<mat-drawer-container class="main-wrapper" autosize>
  <mat-drawer #drawer opened mode="side" class="main-wrapper__sidebar">
    <div class="sidebar__header">Utilities manager</div>
    <nav class="sidebar__nav">
      <ul>
        <li>Таблица</li>
        <li>График</li>
      </ul>
    </nav>
  </mat-drawer>

  <div class="main-wrapper__header-wrapper">
    <div style="display: flex; column-gap: 20px;">
      <span>Цена за единицу:</span>
      <span *ngFor="let item of valuesForOne">
        {{ item.name }}:<b> {{ item.value }} ₽</b>
      </span>
    </div>
  </div>

  <app-main-table [valuesForOne]="valuesForOne"></app-main-table>
</mat-drawer-container>

