<mat-drawer-container class="main-wrapper" autosize>
  <mat-drawer #drawer opened mode="side" class="main-wrapper__sidebar">
    <app-main-sidebar></app-main-sidebar>
  </mat-drawer>

  <div class="main-wrapper__header-wrapper">
    <div style="display:flex; justify-content:space-between; align-items: center">
      <div>
        <h3>Добро пожаловать!</h3>
        <div style="display: flex; column-gap: 20px;">
          <span>Цена за единицу:</span>
          <span *ngFor="let item of valuesForOne">
        {{ item.name }}:<b> {{ item.value }} ₽</b>
      </span>
        </div>
      </div>
      <div>
        <button class="header-wrapper__btn-edit" [matMenuTriggerFor]="menu">
          Действия
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            Добавить параметр
          </button>
          <button mat-menu-item>
            <fa-icon [icon]="faDown"></fa-icon>
            Изменить параметры
          </button>
        </mat-menu>
      </div>

    </div>

  </div>

  <div class="main-wrapper__content-wrapper">
    <div>Показания ЖКХ по месяцам</div>
    <app-main-table [valuesForOne]="valuesForOne"></app-main-table>
  </div>

</mat-drawer-container>

