<div class="main-wrapper">
  <div class="main-wrapper__header-wrapper">
    <h2>Utilities expense manager</h2>
    <div style="display: flex; column-gap: 20px;">
      <span>Цена за единицу:</span>
      <span>Газ: <b>115,08 ₽</b> </span>
      <span>Эл-во, 1 кВт: <b>5.10 ₽</b> </span>
      <span>Гор. вода: <b>182.20 ₽</b> </span>
      <span>Хол. вода: <b>74 ₽</b> </span>
    </div>
  </div>

  <mat-tab-group class="main__tabs">
    <mat-tab label="Таблица" class="tabs__tab">
      <app-main-table></app-main-table>
    </mat-tab>
    <mat-tab label="График" class="tabs__tab"> Content 2 </mat-tab>
  </mat-tab-group>
</div>

